In [1]:
import sys
from kaitoupao import *

/Users/minkexiu/Documents/GitHub/Tianchi_AIFinanceTimeSeries/kaitoupao.py:280: SyntaxWarning: invalid escape sequence '\d'
  *[int(x) for x in re.findall("\d+", zh_date_str)]

storage dir: /Users/minkexiu/Downloads/GitHub/Tianchi_AIFinanceTimeSeries
code dir: /Users/minkexiu/Documents/GitHub/Tianchi_AIFinanceTimeSeries

24 16 27
先天八卦数: 1乾, 2兑, 3离, 4震, 5巽, 6坎, 7艮, 8坤
本卦上：8 本卦下：8 变爻：3

    地地坤  地地坤  地山谦
上卦  ☷坤土  ☷坤土  ☷坤土
下卦  ☷坤土  ☷坤土  ☶艮土

12 25 9 申时
先天八卦数: 1乾, 2兑, 3离, 4震, 5巽, 6坎, 7艮, 8坤
本卦上：4 本卦下：1 变爻：3

   雷天大壮  泽天夬 雷泽归妹
上卦  ☳震木  ☱兑金  ☳震木
下卦  ☰乾金  ☰乾金  ☱兑金

In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [3]:
data = load_data_from_originalData("predict_table")

pd.read_csv("/Users/minkexiu/Downloads/GitHub/Tianchi_AIFinanceTimeSeries/originalData/predict_table.csv", quoting=3, lineterminator="\n")

In [9]:
data

,product_pid,transaction_date,apply_amt_pred,redeem_amt_pred,net_in_amt_pred
0,product1,20221110,3.360803,0.050494,3.310022
1,product1,20221111,3.360803,0.050494,3.310022
2,product1,20221114,3.360803,0.050494,3.310022
3,product1,20221115,3.360803,0.050494,3.310022
4,product1,20221116,3.360803,0.050494,3.310022
...,...,...,...,...,...
1385,product99,20221117,1.047540,9.708145,-8.663310
1386,product99,20221118,1.047540,9.708145,-8.663310
1387,product99,20221121,1.047540,9.708145,-8.663310
1388,product99,20221122,1.047540,9.708145,-8.663310
1389,product99,20221123,1.047540,9.708145,-8.663310

In [4]:
data2 = load_data_from_originalData("product_info_simple_final_train")

pd.read_csv("/Users/minkexiu/Downloads/GitHub/Tianchi_AIFinanceTimeSeries/originalData/product_info_simple_final_train.csv", quoting=3, lineterminator="\n")

In [5]:
from datetime import datetime
base = int(datetime.strptime(str(20210104), "%Y%m%d").timestamp())+58320000
change = lambda x:(int(datetime.strptime(str(x), "%Y%m%d").timestamp())-base)/86400

In [6]:
models = {}
models2 = {}
models3 = {}

import xgboost
for i in data['product_pid'].unique():
    X=data2[data2['product_pid']==i]["transaction_date"].apply(lambda x:change(x)).values.reshape(-1,1)
    y=data2[data2['product_pid']==i]["apply_amt"]
    y2=data2[data2['product_pid']==i]["redeem_amt"]
    y3=data2[data2['product_pid']==i]["net_in_amt"]
    models[i]=xgboost.XGBRegressor()
    models[i].fit(X,y)
    models2[i]=xgboost.XGBRegressor()
    models2[i].fit(X,y2)
    models3[i]=xgboost.XGBRegressor()
    models3[i].fit(X,y3)

In [7]:
for i in data["product_pid"].unique():
    X=data[data['product_pid']==i]["transaction_date"].apply(lambda x:change(x)).values.reshape(-1,1)
    pre = models[i].predict(X)
    pre2 = models2[i].predict(X)
    pre3 = models3[i].predict(X)
    data.loc[data['product_pid']==i,"apply_amt_pred"] = pre
    data.loc[data['product_pid']==i,"redeem_amt_pred"] = pre2
    data.loc[data['product_pid']==i,"net_in_amt_pred"] = pre3

In [8]:
data["net_in_amt_pred"] = (data["apply_amt_pred"]-data["redeem_amt_pred"])*0.5+data["net_in_amt_pred"]*0.5
data.to_csv("predict_table.csv",index=False)
data

,product_pid,transaction_date,apply_amt_pred,redeem_amt_pred,net_in_amt_pred
0,product1,20221110,3.360803,0.050494,3.310022
1,product1,20221111,3.360803,0.050494,3.310022
2,product1,20221114,3.360803,0.050494,3.310022
3,product1,20221115,3.360803,0.050494,3.310022
4,product1,20221116,3.360803,0.050494,3.310022
...,...,...,...,...,...
1385,product99,20221117,1.047540,9.708145,-8.663310
1386,product99,20221118,1.047540,9.708145,-8.663310
1387,product99,20221121,1.047540,9.708145,-8.663310
1388,product99,20221122,1.047540,9.708145,-8.663310
1389,product99,20221123,1.047540,9.708145,-8.663310