In [1]:
import sys
from kaitoupao import *

/Users/minkexiu/Documents/GitHub/Tianchi_AIFinanceTimeSeries/kaitoupao.py:278: SyntaxWarning: invalid escape sequence '\d'
  zh_date_str_1 = [int(x) for x in re.findall("\d+", zh_date_str)]

storage dir: /Users/minkexiu/Downloads/GitHub/Tianchi_AIFinanceTimeSeries
code dir: /Users/minkexiu/Documents/GitHub/Tianchi_AIFinanceTimeSeries

公历 28 11 55
先天八卦数: 1乾, 2兑, 3离, 4震, 5巽, 6坎, 7艮, 8坤
本卦上：4 本卦下：3 变爻：1

    雷火丰 泽风大过 雷山小过
上卦  ☳震木  ☱兑金  ☳震木
下卦  ☲离火  ☴巽木  ☶艮土

农历 2 29 7 午时
先天八卦数: 1乾, 2兑, 3离, 4震, 5巽, 6坎, 7艮, 8坤
本卦上：2 本卦下：5 变爻：1

   泽风大过  天天乾  泽天夬
上卦  ☱兑金  ☰乾金  ☱兑金
下卦  ☴巽木  ☰乾金  ☰乾金

In [3]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

# baseline

In [4]:
data = load_data_from_originalData("predict_table")

pd.read_csv("/Users/minkexiu/Downloads/GitHub/Tianchi_AIFinanceTimeSeries/originalData/predict_table.csv", quoting=3, lineterminator="\n")

In [5]:
data

,product_pid,transaction_date,apply_amt_pred,redeem_amt_pred,net_in_amt_pred
0,product1,20221110,0,0,0
1,product1,20221111,0,0,0
2,product1,20221114,0,0,0
3,product1,20221115,0,0,0
4,product1,20221116,0,0,0
...,...,...,...,...,...
1385,product99,20221117,0,0,0
1386,product99,20221118,0,0,0
1387,product99,20221121,0,0,0
1388,product99,20221122,0,0,0
1389,product99,20221123,0,0,0

In [6]:
data2 = load_data_from_originalData("product_info_simple_final_train")

pd.read_csv("/Users/minkexiu/Downloads/GitHub/Tianchi_AIFinanceTimeSeries/originalData/product_info_simple_final_train.csv", quoting=3, lineterminator="\n")

In [7]:
data2

,product_pid,transaction_date,apply_amt,redeem_amt,net_in_amt,uv_fundown,uv_stableown,uv_fundopt,uv_fundmarket,uv_termmarket,during_days,total_net_value
0,product1,20210104,0.001642,0.000851,0.000791,7.918270e+05,0.0,8203723.0,0.0,0.0,0.0,NaN
1,product1,20210105,0.000170,0.002983,-0.002813,5.950510e+05,0.0,4432183.0,0.0,0.0,0.0,NaN
2,product1,20210106,0.002941,0.001342,0.001599,7.590310e+05,0.0,6924679.0,0.0,0.0,0.0,NaN
3,product1,20210107,0.005226,0.000000,0.005226,2.998870e+05,0.0,4399387.0,0.0,0.0,0.0,NaN
4,product1,20210108,0.002587,0.000000,0.002587,2.670910e+05,0.0,2333239.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
43394,product99,20221103,6.420888,7.034544,-0.613657,1.343788e+09,428517259.0,448850779.0,1349359.0,363745159.0,90.0,4.354314
43395,product99,20221104,1.522984,0.000000,1.522984,1.157736e+09,366204859.0,451802419.0,1677319.0,160245979.0,90.0,4.353480
43396,product99,20221107,1.967026,21.100487,-19.133461,2.121512e+09,780975871.0,584462239.0,2267647.0,97441639.0,90.0,4.353897
43397,product99,20221108,0.874283,8.946304,-8.072022,1.165115e+09,329145379.0,407626207.0,1283767.0,37556143.0,90.0,4.352646
43398,product99,20221109,1.040069,9.712862,-8.672793,1.119234e+09,392474455.0,344264335.0,1349359.0,34932463.0,90.0,4.351812

In [1]:
0.001642 - 0.000851

0.000791

In [5]:
from datetime import datetime
base = int(datetime.strptime(str(20210104), "%Y%m%d").timestamp())+58320000
change = lambda x:(int(datetime.strptime(str(x), "%Y%m%d").timestamp())-base)/86400

In [6]:
models = {}
models2 = {}
models3 = {}

import xgboost
for i in data['product_pid'].unique():
    X=data2[data2['product_pid']==i]["transaction_date"].apply(lambda x:change(x)).values.reshape(-1,1)
    y=data2[data2['product_pid']==i]["apply_amt"]
    y2=data2[data2['product_pid']==i]["redeem_amt"]
    y3=data2[data2['product_pid']==i]["net_in_amt"]
    models[i]=xgboost.XGBRegressor()
    models[i].fit(X,y)
    models2[i]=xgboost.XGBRegressor()
    models2[i].fit(X,y2)
    models3[i]=xgboost.XGBRegressor()
    models3[i].fit(X,y3)

In [7]:
for i in data["product_pid"].unique():
    X=data[data['product_pid']==i]["transaction_date"].apply(lambda x:change(x)).values.reshape(-1,1)
    pre = models[i].predict(X)
    pre2 = models2[i].predict(X)
    pre3 = models3[i].predict(X)
    data.loc[data['product_pid']==i,"apply_amt_pred"] = pre
    data.loc[data['product_pid']==i,"redeem_amt_pred"] = pre2
    data.loc[data['product_pid']==i,"net_in_amt_pred"] = pre3

In [8]:
data["net_in_amt_pred"] = (data["apply_amt_pred"]-data["redeem_amt_pred"])*0.5+data["net_in_amt_pred"]*0.5
data.to_csv("predict_table.csv",index=False)
data

,product_pid,transaction_date,apply_amt_pred,redeem_amt_pred,net_in_amt_pred
0,product1,20221110,3.360803,0.050494,3.310022
1,product1,20221111,3.360803,0.050494,3.310022
2,product1,20221114,3.360803,0.050494,3.310022
3,product1,20221115,3.360803,0.050494,3.310022
4,product1,20221116,3.360803,0.050494,3.310022
...,...,...,...,...,...
1385,product99,20221117,1.047540,9.708145,-8.663310
1386,product99,20221118,1.047540,9.708145,-8.663310
1387,product99,20221121,1.047540,9.708145,-8.663310
1388,product99,20221122,1.047540,9.708145,-8.663310
1389,product99,20221123,1.047540,9.708145,-8.663310

# 对样本进行一下观察

In [1]:
## 我们得设计一种拆分训练集和oot的方案。